.title_container {
    position: relative;
    text-align: center;
    align-items: center;
    margin: 10px 0px; 

}


.title-image {
    background-image: url("https://res.cloudinary.com/dgwi6xvfl/image/upload/v1671727628/FatBack/backgroundimage_tj7vmd.jpg");
    width: 100%;
    z-index: -1;

}

#title-main {

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* display: flex;
    align-items: center;
    justify-content: center; */
    font-size: 90px;
    font-weight: lighter;
    border: 1px solid #05030a;
    background-color: #17070b;
    opacity: 90%;
    color: #e9dddb;
    opacity: 95%;
    padding: 50px 25px;
    font-weight: lighter;
    width: 75%;




}

.about {
    text-align: center;
    padding: 20px 40px;
    color: #2e2029;
    font-size: 20px;


}

.aboutHeader {
    font-size: 50px;
    font-weight: lighter;
    text-align: left;
    margin-left: 40px;
    color: #2e2029;

}

.greeting {
    color: #2e2029;
    font-size: 25px;
}

/* .reserveButton {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    align-content: center; 
    width: 100px;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
} */