/* Import the google web fonts you want to use */
/* @import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One"); */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  background: #e9dddb;
  color: #17070b;
  /* font-family: 'Source Code Pro', monospace; */
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  line-height: 1.5;
  /* background-color: #101010; */
  text-align: center; 
}

/* body {
    padding: 0 3rem;
} */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  /* font-family: 'Source Code Pro', monospace; */
  letter-spacing: 2px;
  font-weight: lighter; 
  
}

p {
  margin-bottom: 1.5em;
}


