.socials {
    display: flex; 
    flex-direction: row;
    align-content: flex-end; 
    width: 35px; 
    margin: 200px 0px 75px 30px; 
    color: #05030a; 

}

.logo { 
    width: 45px; 
    color: #05030A;
}