/* @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&display=swap');


body {
  margin: 0;
  padding: 0; 
  font-family: 'Source Code Pro', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: url("https://res.cloudinary.com/dgwi6xvfl/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1670265939/IMG_1750_qitvyk.jpg") fixed top no-repeat; 
  background-size: 85%;
  background-color: #090a0c;  
  color: #d2d3ce;  */
  
}

code {
  font-family: 'Bitter', serif;
  /* font-family: 'Source Code Pro', monospace; */
 
}

div, html { 
  display: flex; 
  flex-direction: column;  
  align-items: stretch;  

  
}

