.navbar {
    display: flex;
    justify-content: center; 
    align-content: center; 
    align-items: center; 
    flex-wrap: nowrap;
    padding: 40px 10px; 
    margin: 0px 0px 10px 0px ;  
    background-color: #17070b;
    color: #e9dddb; 
    opacity: 90%; 
    height: 100px; 
    width: 98.9%;  
    margin-bottom: 20px;   
}



.navbar_link { 
    color: #d2d3ce;
    font-size: 32px; 
    display: flex; 
    flex-flow: row wrap; 
    align-content: center; 
    justify-content: center; 
    align-items: center; 
    margin: 10px; 
}

.navbar_item {
    flex-basis: 20%;
    list-style-type: none;
}

/* .navbar__logout {
    margin-left: auto;
} */